body {
  font: 14px "Inter", Helvetica, Arial, sans-serif;
  width: 100%;
  min-height: 100vh;
  background-image: url("/logo/Home-Background.jpg");
  background-position: center right;
  background-size: cover;
}

a {
  color: black;
}

.title {
  color: black;
}

.img-logo {
  height: 50px;
  width: 85px;
  margin-left: 1.5rem;
}