body {
  font: 14px "Inter", Helvetica, Arial, sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: beige;
}

a {
  color: black;
}

.title {
  color: black;
}

.img-logo {
  height: 50px;
  width: 85px;
  margin-left: 1.5rem;
}