<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>

    <%- include("./partials/nav-search.ejs") %>

    <section id="landing">
        <div class="container" style="text-align: center; padding-top: 7rem;">
            <h1>
                <a href="" class="typewrite" data-period="2000"
                    data-type='[ "Welcome to Groovy.", "Music done right.", "Curation with vision.", "Live mas." ]'
                    style="text-decoration: none;">
                    <span class="wrap"></span>
                </a>
            </h1>
        </div>
    </section>

    <div id="vision">
        <div class="aboutbout">
            <div class="row g-0">

                <div class="col-md-6">
                    <img src="/logo/work-trio.svg" alt="" height="80%" width="80%">
                </div>
                <div class="col-md-6 ">
                    <h1 class="aboutyouknow">Our Vision</h1>
                    <p class="aboutyouknow2">A website made for the love of music. With the advent of music platforms,
                        we want to be the vanguard of making everything in one website.</p>
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-md-6 abowt">
                <h1 class="aboutyouknow">Who are we?</h1>
                <p class="aboutyouknow2">3 guys who like intelligent design and simple code. Built of [standard
                    superlative], we belive in a [value]-oriented code backed up by UX/IU. </p>
            </div>
            <div class="col-md-5 abowt2">
                <img style="height: 600px; width: 600px;"
                    src="https://media.discordapp.net/attachments/706128026324434956/804704706047770634/popo.png" alt=""
                    height="80%" width="80%">

            </div>
        </div>
        </section>

        <section id="dependencies">
            <div class="container-fluid">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="card-body dp-card"><i class="fas fa-shield-alt fa-1x"></i>
                            <h3 style="color:white;">BCRYPTJS<p class="text-muted">2.4.3</p>
                            </h3>
                            <p class="desc-text">bcrypt is a password-hashing function designed by Niels Provos and
                                David Mazières, based on the Blowfish cipher and presented at USENIX in 1999.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body dp-card"><i class="fas fa-shield-alt"></i>
                            <h3 style="color:white;">BODY-PARSER<p class="text-muted">1.19.0</p>
                            </h3>
                            <p class="desc-text">Node.js body parsing middleware.

                                Parse incoming request bodies in a middleware before your handlers, available under the
                                <code>req.body</code> property.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body dp-card"><i class="fas fa-shield-alt"></i>
                            <h3 style="color:white;">CONNECT-FLASH<p class="text-muted">0.1.1</p>
                            </h3>
                            <p class="desc-text">Flash message middleware for Connect and Express.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="card-body dp-card"><i class="fas fa-shield-alt"></i>
                            <h3 style="color:white;">COOKIE-PARSER<p class="text-muted">1.4.4</p>
                            </h3>
                            <p class="desc-text">Parse Cookie header and populate req.cookies with an object keyed by
                                the cookie names. Optionally you may enable signed cookie support by passing a secret
                                string, which assigns req.secret so it may be used by other middleware.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body dp-card"><i class="fas fa-shield-alt"></i>
                            <h3 style="color:white;">DEBUG<p class="text-muted">2.6.9</p>
                            </h3>
                            <p class="desc-text">A tiny JavaScript debugging utility modelled after Node.js core's
                                debugging technique. Works in Node.js and web browsers.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body dp-card"><i class="fas fa-shield-alt"></i>
                            <h3 style="color:white;">EJS<p class="text-muted">3.1.5</p>
                            </h3>
                            <p class="desc-text">JS is a simple templating language that lets you generate HTML markup
                                with plain JavaScript. No religiousness about how to organize things. No reinvention of
                                iteration and control-flow. It's just plain JavaScript.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="card-body dp-card"><i class="fas fa-shield-alt"></i>
                            <h3 style="color:white;">EXPRESS<p class="text-muted">4.16.1</p>
                            </h3>
                            <p class="desc-text">Express is a minimal and flexible Node.js web application framework
                                that provides a robust set of features for web and mobile applications.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body dp-card"><i class="fas fa-shield-alt"></i>
                            <h3 style="color:white;">XSS<p class="text-muted">1.0.8</p>
                            </h3>
                            <p class="desc-text">Sanitize untrusted HTML (to prevent XSS) with a configuration specified
                                by a Whitelist.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body dp-card"><i class="fas fa-shield-alt"></i>
                            <h3 style="color:white;">EXPRESS-SESSION<p class="text-muted">1.17.1</p>
                            </h3>
                            <p class="desc-text">Simple session middleware for Express
                            </p>
                        </div>
                    </div>

                </div>
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="card-body dp-card"><i class="fas fa-shield-alt"></i>
                            <h3 style="color:white;">HTTP-ERRORS<p class="text-muted">1.6.3</p>
                            </h3>
                            <p class="desc-text">Create HTTP errors for Express, Koa, Connect, etc. with ease.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body dp-card"><i class="fas fa-shield-alt"></i>
                            <h3 style="color:white;">JSONWEBTOKEN<p class="text-muted">8.5.1</p>
                            </h3>
                            <p class="desc-text">An implementation of JSON Web Tokens. This was developed against
                                <code>draft-ietf-oauth-json-web-token-08</code>. It makes use of node-jws
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body dp-card"><i class="fas fa-shield-alt"></i>
                            <h3 style="color:white;">MONGODB<p class="text-muted">3.6.3</p>
                            </h3>
                            <p class="desc-text">MongoDB is a source-available cross-platform document-oriented database
                                program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with
                                optional schemas. MongoDB is developed by MongoDB Inc. and licensed under the Server
                                Side Public License.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="card-body dp-card"><i class="fas fa-shield-alt"></i>
                            <h3 style="color:white;">MONGOOSE<p class="text-muted">5.11.9</p>
                            </h3>
                            <p class="desc-text">Elegant mongodb object modeling for node.js
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body dp-card"><i class="fas fa-shield-alt"></i>
                            <h3 style="color:white;">MORGAN<p class="text-muted">1.9.1</p>
                            </h3>
                            <p class="desc-text">HTTP request logger middleware for node.js
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body dp-card"><i class="fas fa-shield-alt"></i>
                            <h3 style="color:white;">PACKAGE.JSON<p class="text-muted">2.0.1</p>
                            </h3>
                            <p class="desc-text">All npm packages contain a file, usually in the project root, called
                                package.json.This file holds various metadata relevant to the project. This file is
                                used to give information to npm that allows it to identify the project as well as handle
                                the project's dependencies.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="card-body dp-card"><i class="fas fa-shield-alt"></i>
                            <h3 style="color:white;">PASSPORT<p class="text-muted">0.4.1</p>
                            </h3>
                            <p class="desc-text">Passport is Express-compatible authentication middleware for Node.js.
                                Passport's sole purpose is to authenticate requests, which it does through an extensible
                                set of plugins known as strategies. Passport does not mount routes or assume any
                                particular database schema, which maximizes flexibility and allows application-level
                                decisions to be made by the developer.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body dp-card"><i class="fas fa-shield-alt"></i>
                            <h3 style="color:white;">PASSPORT-LOCAL<p class="text-muted">1.0.0</p>
                            </h3>
                            <p class="desc-text">This module lets you authenticate using a username and password in your
                                Node.js applications. By plugging into Passport, local authentication can be easily and
                                unobtrusively integrated into any application or framework that supports Connect-style
                                middleware, including Express.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body dp-card"><i class="fas fa-shield-alt"></i>
                            <h3 style="color:white;">PASSPORT-LOCAL-MONGOOSE<p class="text-muted">6.0.2</p>
                            </h3>
                            <p class="desc-text">Passport-Local Mongoose is a Mongoose plugin that simplifies building
                                username and password login with Passport.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row g-0 mt-5">
                    <div class="col-md-6">
                        <div class="card-body dp-card"><i class="fas fa-shield-alt"></i>
                            <h3 style="color:white;">VALIDATOR<p class="text-muted">13.5.2</p>
                            </h3>
                            <p class="desc-text">A library of string validators and sanitizers.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-body dp-card"><i class="fas fa-shield-alt"></i>
                            <h3 style="color:white;">NODEMON<p class="text-muted">2.0.7</p>
                            </h3>
                            <p class="desc-text">nodemon is a tool that helps develop node.js based applications by
                                automatically restarting the node application when file changes in the directory are
                                detected.
                            </p>
                        </div>
                    </div>
                </div>
            </div>



        </section>

        <div class="copyright-section">
            <%- include("./partials/footer.ejs") %>
        </div>



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
        </script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="/javascripts/type.js"></script>
</body>

</html>