<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav-side.ejs") %>

    <!--take up single values from artist, album, playlist-->

    <div class="singleArtistcon">
        <h1 class="artistname2"><%= artist.name %></h1>
        <div class="singleArtistcon2">
            <div class="card bg-transparent songcon" style="border: none;">
                <div class="songcontainer">
                    <a class="single" href=""></a>
                    <img class="image" height="50px" width="50px"
                        src="https://images-ext-2.discordapp.net/external/wV7GwkU_8Ja4lEhFOIRX_CV1xhbsrhx0LPxWN74dKfE/https/images.genius.com/c4b505be7fffccf7719b00c57126f51d.715x715x1.jpg?width=676&height=676"></img>
                    </a>
                    <div class="songTitle">
                        <a class="single" href="">
                            <p class="songs" style="margin: 0;">Ill intentions</p>
                        </a>
                        <p class="songartist" style="margin: 0;">Drake</p>
                        <div class="songslength">
                            <p class="songtime">3:30</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <img src="<%= artist.bg %>" class="artistbg" alt="">
    </div>
</body>

</html>