<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>

    <%- include("./partials/navbar.ejs") %>

    <div class="bigdaddy">

        <% if (artist.length > 0) { %>
        <% artist.forEach(artist => { %>

        <div class="l-container">
            <div class="b-game-card">
                <a href="#">
                    <div class="b-game-card__cover" style="background-image: url('<%= artist.image %>');">
                        <p class="artistname"> <%= artist.name %> </p>
                    </div>
                </a>
            </div>

        </div>
        <% }) %>
        <% } else { %>
        <p>There are no artist to display...</p>
        <% } %>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
</body>

</html>