<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav-side.ejs") %>

    <div class="container">
        <h2><%= playlist.title %> </h2>
        <p><%= playlist.description %> </p>
    </div>

</body>

</html>