<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav-search.ejs") %>

    <div class="container-login" style="margin-top: 10rem;">
    <h1>login</h1> 
  
    <form action="/login" method="POST"> 
        <input type="text" name="username"
            placeholder="username"> 
        <input type="password" name="password" 
            placeholder="password"> 
        <button>login</button> ldfjkhgdfklghdfghkfhgklsdfhgkhdfjkl
    </form> 
      
</div>
</body>
</html>