<footer class="FooterContainer">
    <div class="container-fluid">
        <div class="row g-0">
            <div class="col-md-4 About">
                <h1 class="footerheader-2">
                    About Us
                </h1>
                <p class="about">Groovy is a curation web application made by group 6 of CCAPDEV. It's basically spotify
                    but instead of listening to music, its a way for you to show your creative side with the music you
                    curate.</p>
            </div>
            <div class="col-md-2 contacticons">
                <h1 class="footerheader">
                    Contacts
                </h1>
                <ul><i class="fab fa-facebook icon"></i> Groovy</ul>
                <ul><i class="fab fa-github icon"></i> Groovy</ul>
                <ul><i class="fab fa-linkedin-in icon"></i> Groovy</ul>
                <ul><i class="far fa-envelope icon"></i> Groovy@gmail.com</ul>
            </div>
            <div class="col-md-6 About">
                <img src="/logo/Groovy.png" class="GroovyLogo">
            </div>
        </div>
    </div>

</footer>