<nav class="menu" tabindex="0">
  <div class="smartphone-menu-trigger"></div>
  <header class="avatar">
    <a href="/"><img src="/Logo/Logo.png"></a>
    <a class="hotdog" href="/">
      <h2>Groovy</h2>
    </a>
  </header>
  <ul>
    <a class="hotdog" href="/artist">
      <li tabindex="0" class="navside"><i class="fas fa-user"></i><span style="color: transparent;">lll</span> Artist
      </li>
    </a>
    <a class="hotdog" href="/albumer">
      <li tabindex="0" class="navside"><i class="fas fa-record-vinyl"></i><span style="color: transparent;">a</span>
        Album</li>
    </a>
    <a class="hotdog" href="/playlist">
      <li tabindex="0" class="navside"><i class="far fa-play-circle"></i><span style="color: transparent;">a</span>
        Playlist</li>
    </a>
    <a class="hotdog" href="/about">
      <li tabindex="0" class="navside"> <i class="fas fa-user-secret"></i><span
          style="color: transparent;">llll</span>About
        us</li>
    </a>
  </ul>
</nav>