<nav class="menu" tabindex="0">
  <div class="smartphone-menu-trigger"></div>
  <header class="avatar">
    <a href="/"><img src="/Logo/Logo.png"></a>
    <h2>Groovy</h2>
  </header>
  <ul>
    <li tabindex="0" class="icon-dashboard"><span>Artist</span></li>
    <li tabindex="0" class="icon-customers"><span>Album</span></li>
    <li tabindex="0" class="icon-users"><span>About us</span></li>
  </ul>
</nav>