<nav class="menu" tabindex="0">
  <div class="smartphone-menu-trigger"></div>
  <header class="avatar">
    <a href="/"><img src="/Logo/Logo.png"></a>
    <a class="hotdog" href="/">
      <h2>Groovy</h2>
    </a>
  </header>
  <ul>
    <a class="hotdog" href="/artist">
      <li tabindex="0" class="icon-dashboard"><span>Artist</span></li>
    </a>
    <a class="hotdog" href="/albumer">
      <li tabindex="0" class="icon-customers"><span>Album</span></li>
    </a>
    <a class="hotdog" href="/about">
      <li tabindex="0" class="icon-users"><span>About us</span></li>
    </a>
  </ul>
</nav>