<nav class="navbar navbar-expand-md navbar-light justify-content-start  fixed-top">
    <div class="container-fluid">
        <a href="/" class="navbar-brand"><img src="/logo/Logo.png" class="img-logo"></a>
        <div class="navbar-nav">
            <form class="mx-2 my-auto d-inline w-1000 search-nav" style="width: 50rem">
                <input type="text" class="form-control border border-right-0" style="border-radius: 10rem;"
                    placeholder="Let's get this groove">
            </form>
        </div>
        <div class="nav navbar-nav navbar-right">
            <ul class="navbar-nav">
                <li class="nav-link">
                    <a href="/artist" class="Navbar-text">Artist</a>
                </li>
                <li class="nav-link">
                    <a href="/albumer" class="Navbar-text">Album</a>
                </li>
                <li class="nav-link">
                    <a href="/playlist" class="Navbar-text">Playlist</a>
                </li>
                <li class="nav-link">
                    <a href="/about" class="Navbar-text">About Us</a>
                </li>
                <li class="nav-link"><a href="/add-playlist"><i class="fas fa-plus-circle fa-1x add"></i></a></li>

            </ul>
        </div>
    </div>
</nav>